auto-install-peers=true
electron_mirror=https://npmmirror.com/mirrors/electron/
sqlite3_binary_host_mirror=https://npmmirror.com/mirrors/sqlite3/
registry=https://registry.npmmirror.com/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
iohook_binary_host_mirror=https://npmmirror.com/mirrors/iohook/
